<div class="col-sm-3">
    <div class="thumbnail-style">
        {% if details is defined %}<a href="{{ path(details) }}">{% endif %}<img alt="" src="{{picture|default("http://dummyimage.com/872x724/bbb/000&text=Rejoignez-nous")}}" class="img-responsive">{% if details is defined %}</a>{% endif %}
		<h3>{% if details is defined %}<a href="{{ path(details) }}">{% endif %}{{name|default("Votre nom")}}{% if details is defined %}</a>{% endif %} <small>{{company|default("Votre société")}}</small></h3>
        <p>{{description|default("Présentation de votre activité")}}</p>
        <ul class="list-unstyled list-inline team-socail">
        	{% if facebook is defined %}
            <li><a href="{% if facebook %}https://www.facebook.com/{{facebook}}{% else %}#{% endif %}"><i class="icon-facebook"></i></a></li>
            {% endif %}
        	{% if twitter is defined %}
            <li><a href="{% if twitter %}https://twitter.com/{{twitter}}{% else %}#{% endif %}"><i class="icon-twitter"></i></a></li>
            {% endif %}
        	{% if google_plus is defined %}
            <li><a href="https://plus.google.com/u/0/+{{google_plus}}"><i class="icon-google-plus"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>