{% extends '::base.html.twig' %}

{% block body %}
<!--=== Content Part ===-->
<div class="container">
	<div class="margin-bottom-20"></div>
    <!-- Service Blcoks -->
    <div class="row service-v1 margin-bottom-40">
        <div class="col-md-3 md-margin-bottom-40">
            <div class="carousel slide carousel-v1" id="sousMarinCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="{{path('sous-marin')}}"><img alt="" src="{{( '/bundles/capitaineriecore/images/lieu/open_space.png'| apply_filter('compressed')) }}"></a>
                    </div>
                    <div class="item">
                        <img alt="" src="{{( '/bundles/capitaineriecore/images/lieu/b6ca3048-4d57.png'| apply_filter('compressed')) }}">
                        </div>
                    <div class="item">
                        <img alt="" src="{{( '/bundles/capitaineriecore/images/lieu/58502652-5666.png'| apply_filter('compressed')) }}">
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a data-slide="prev" href="#sousMarinCarousel" class="left carousel-control">
                        <i class="icon-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#sousMarinCarousel" class="right carousel-control">
                        <i class="icon-angle-right"></i>
                    </a>
                </div>
            </div>
            <h2>Le sous marin</h2>
            <p>L'open space de type Loft pour travailler de façon studieuse.</p>
        </div>
        <div class="col-md-3">
            <img class="img-responsive" src="{{( '/bundles/capitaineriecore/images/lieu/bureau.png'| apply_filter('compressed')) }}" alt="">
            <h2>Le port</h2>
            <p>Où l'on échange librement sur ces aventures en mer </p>
        </div>
       <div class="col-md-3">
            <img class="img-responsive" src="{{( '/bundles/capitaineriecore/images/lieu/salle_de_reunion.png'| apply_filter('compressed')) }}" alt="">
            <h2>La salle de réunion</h2>
            <p>Pour recevoir des clients, faire un point en équipe au calme ou faire une présentation</p>
        </div>
        <div class="col-md-3 md-margin-bottom-40">
            <div class="carousel slide carousel-v1" id="barCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="{{( '/bundles/capitaineriecore/images/lieu/96089dda-3e8f.png'| apply_filter('compressed')) }}">
                        <div class="carousel-caption">
                            <p>Le coin repos.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="{{( '/bundles/capitaineriecore/images/lieu/cuisine.png'| apply_filter('compressed')) }}">
                        <div class="carousel-caption">
                            <p>Le coin repas.</p>
                        </div>
                    </div>
                    <div class="item">
                        <a href="{{path('bar')}}"><img alt="" src="{{( '/bundles/capitaineriecore/images/lieu/espace_repos.png'| apply_filter('compressed')) }}"></a>
                        <div class="carousel-caption">
                            <p>Le coin console.</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a data-slide="prev" href="#barCarousel" class="left carousel-control">
                        <i class="icon-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#barCarousel" class="right carousel-control">
                        <i class="icon-angle-right"></i>
                    </a>
                </div>
            </div>
            <h2>Le bar</h2>
            <p>Pour recharger les batteries et échanger autour d'un café.</p>
        </div>
    </div>
    <!-- End Service Blcoks -->

    <hr class="margin-bottom-40">
{#
    <!-- Info Blcoks -->
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-bell icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Here will be some title</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-hdd icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Here will be some title</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-lightbulb icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Here will be some title</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-heart-empty icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Here will be some title</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-thumbs-up-alt icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Here will be some title</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-laptop icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Here will be some title</h3>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum animi..</p>
            </div>
        </div>
    </div>
    <!--End Info Blcoks -->#}



</div><!--/container-->
<!--=== End Content Part ===-->

{% endblock %}