{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/plugins/fancybox/source/jquery.fancybox.css')}}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{asset('assets/plugins/fancybox/source/jquery.fancybox.pack.js')}}"></script>
	<script type="text/javascript">
    jQuery(document).ready(function() {
        App.initFancybox();
    });
</script>

{% endblock %}


{% block body %}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Le sous marin</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
            <li><a href="{{ path('place') }}">Le lieu</a></li>
            <li class="active">Le sous marin</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div class="container">
<div class="gallery-page">



        <div class="row margin-bottom-20">
            <div class="col-md-4 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Un grand espace avec matériel à disposition" href="/capitainerie-coworking/web{{ asset('/bundles/capitaineriecore/images/lieu/open_space.png') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{( '/bundles/capitaineriecore/images/lieu/open_space.png'| apply_filter('small')) }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button"  href="/capitainerie-coworking/web{{ asset('/bundles/capitaineriecore/images/lieu/b6ca3048-4d57.png') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{( '/bundles/capitaineriecore/images/lieu/b6ca3048-4d57.png'| apply_filter('small')) }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button"  href="/capitainerie-coworking/web{{ asset('/bundles/capitaineriecore/images/lieu/58502652-5666.png') }}">
                    <span class="overlay-zoom">
                        <img alt="" src="{{( '/bundles/capitaineriecore/images/lieu/58502652-5666.png'| apply_filter('small')) }}" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="/assets/img/main/2.jpg">
                    <span class="overlay-zoom">
                        <img alt="" src="/assets/img/main/2.jpg" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="/assets/img/main/3.jpg">
                    <span class="overlay-zoom">
                        <img alt="" src="/assets/img/main/3.jpg" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="/assets/img/main/4.jpg">
                    <span class="overlay-zoom">
                        <img alt="" src="/assets/img/main/4.jpg" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="/assets/img/main/5.jpg">
                    <span class="overlay-zoom">
                        <img alt="" src="/assets/img/main/5.jpg" class="img-responsive">
                        <div class="zoom-icon"></div>
                    </span>
                </a>
            </div>
        </div>

        <hr class="margin-bottom-30">
        <h2>Découvrez nos autres espaces</h2>
        <div class="row margin-bottom-20">
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive" src="{{( '/bundles/capitaineriecore/images/lieu/bureau.png'| apply_filter('small')) }}" alt="">
                <h2>Le port</h2>
                <p>Où l'on échange librement sur ces aventures en mer</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive" src="{{( '/bundles/capitaineriecore/images/lieu/salle_de_reunion.png'| apply_filter('small')) }}" alt="">
                <h2>La salle de réunion</h2>
                <p>Pour recevoir des clients, faire un point en équipe au calme ou faire une présentation</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <img class="img-responsive" src="{{( '/bundles/capitaineriecore/images/lieu/espace_repos.png'| apply_filter('small')) }}" alt="">
                <h2>Le bar</h2>
                <p>Pour recharger les batteries et échanger autour d'un café.</p>
            </div>
        </div>
    </div>
    <!-- End Service Blcoks -->


    </div><!--/gallery-page-->
</div>

{% endblock %}