<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{% block title %}Capitainerie Coworking{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block stylesheets %}
    {% stylesheets
        'assets/plugins/bootstrap/css/bootstrap.css'
        'assets/css/app.css'
        'assets/css/style.css'
        'assets/css/headers/header1.css'
        'assets/css/responsive.css'
        'assets/plugins/font-awesome/css/font-awesome.css'
        'assets/css/themes/red.css'
        'assets/css/themes/headers/header1-red.css'
        filter='cssrewrite,cssimport' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{asset('favicon.ico') }}" />
</head>

<body>

{#
<!--=== Top ===-->
<div class="top">
    <div class="container">
        <ul class="loginbar pull-right">
            <li><a href="{{asset('page_login.html') }}">Login</a></li>
        </ul>
    </div>
</div><!--/top-->
<!--=== End Top ===-->
#}
<!--=== Header ===-->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('homepage') }}">
                	<h1>Capitainerie <small>Coworking</small></h1>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
            	{#{ knp_menu_render('CapitainerieCoreBundle:Builder:mainMenu', {currentClass : 'active'}) }#}

            		{{ knp_menu_render('CapitainerieCoreBundle:Builder:mainMenu', {
						template: 'CapitainerieCoreBundle:Menu:knp_menu.html.twig',
						currentClass: 'active',
						ancestorClass: 'open',
						allow_safe_labels: true
					}) }}
            </div><!-- /navbar-collapse -->
        </div>
    </div>
</div><!--/header-->
<!--=== End Header ===-->
{% for flashMessage in app.session.flashbag.get('notice') %}
<div class="alert alert-success">{{ flashMessage }}</div>
{% endfor %}

		{% block body %}{% endblock %}



<!--=== Footer ===-->
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
		        <div class="headline"><h2>À propos</h2></div>
				<p class="margin-bottom-25 md-margin-bottom-40">Capitainerie Coworking est un espace dédié aux travailleurs indépendants visant à promouvoir les échanges inter-personnels et l'innovation.</p>

	            <!-- Monthly Newsletter -->
		        <div class="headline"><h2>Lettre d'information</h2></div>
				<p>Inscrivez-vous à notre lettre d'informations pour rester au courant de nos dernières actualités:</p>
				<form class="footer-subsribe">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="vous@societe.com">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">S'inscrire</button>
                        </span>
                    </div><!-- /input-group -->
				</form>
			</div><!--/col-md-4-->

			<div class="col-md-4 md-margin-bottom-40">
{#
			<div class="blog-twitter">
                <div class="headline"><h3>Latest Tweets</h3></div>
                <div class="blog-twitter-inner">
                    <i class="icon-twitter"></i>
                    <a href="#">@htmlstream</a>
                    At vero seos etodela ccusamus et iusto odio dignissimos.
                    <a href="#">http://t.co/sBav7dm</a>
                    <span>5 hours ago</span>
                </div>
                <div class="blog-twitter-inner">
                    <i class="icon-twitter"></i>
                    <a href="#">@htmlstream</a>
                    At vero eos et accusamus et iusto odio dignissimos.
                    <a href="#">http://t.co/sBav7dm</a>
                    <span>5 hours ago</span>
                </div>
                <div class="blog-twitter-inner">
                    <i class="icon-twitter"></i>
                    <a href="#">@htmlstream</a>
                    At vero eos et accusamus et iusto odio dignissimos.
                    <a href="#">http://t.co/sBav7dm</a>
                    <span>5 hours ago</span>
                </div>
                <div class="blog-twitter-inner">
                    <i class="icon-twitter"></i>
                    <a href="#">@htmlstream</a>
                    At vero eos et accusamus et iusto odio dignissimos.
                    <a href="#">http://t.co/sBav7dm</a>
                    <span>5 hours ago</span>
                </div>
            </div>
            </div>

			<div class="col-md-4 md-margin-bottom-40">
                <div class="posts">
                    <div class="headline"><h2>Recent Blog Entries</h2></div>
                    <dl class="dl-horizontal">
                        <dt><a href="{{asset('#') }}"><img src="{{asset('assets/img/sliders/elastislide/6.jpg') }}" alt="" /></a></dt>
                        <dd>
                            <p><a href="{{asset('#') }}">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="{{asset('#') }}"><img src="{{asset('assets/img/sliders/elastislide/10.jpg') }}" alt="" /></a></dt>
                        <dd>
                            <p><a href="{{asset('#') }}">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="{{asset('#') }}"><img src="{{asset('assets/img/sliders/elastislide/11.jpg') }}" alt="" /></a></dt>
                        <dd>
                            <p><a href="{{asset('#') }}">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                        </dd>
                    </dl>
                </div>
#}			</div><!--/col-md-4-->

			<div class="col-md-4">
	            <!-- Monthly Newsletter -->
		        <div class="headline"><h2>Contactez-nous</h2></div>
                <address class="md-margin-bottom-40">
					10, rue de la comédie <br />
					82000 Montauban, France<br />
					Phone: 05 63 66 96 27 <br />
					Email: <span style="unicode-bidi:bidi-override; direction: rtl;">moc.gnikrowoc-eireniatipac@tcatnoc</span>
                </address>

                <!-- Stay Connected -->
		        <div class="headline"><h2>Restez connecté</h2></div>
                <ul class="social-icons">
                    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                    {#
					<li><a href="{{asset('#') }}" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                    <li><a href="{{asset('#') }}" data-original-title="Pinterest" class="social_pintrest"></a></li>
                    <li><a href="{{asset('#') }}" data-original-title="Linkedin" class="social_linkedin"></a></li>
                    <li><a href="{{asset('#') }}" data-original-title="Vimeo" class="social_vimeo"></a></li>
                    #}
                </ul>
			</div><!--/col-md-4-->
		</div><!--/row-->
	</div><!--/container-->
</div><!--/footer-->
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
	            <p class="copyright-space">
                    2014 &copy; Capitainerie Coworking. Tous droits réservés.
                    <a href="{{path('privacy') }}">Politique de confidentialité</a> | <a href="{{path('legals') }}">Mentions légales</a>
                </p>
			</div>

		</div><!--/row-->
	</div><!--/container-->
</div><!--/copyright-->
<!--=== End Copyright ===-->



<!-- JS Global Compulsory -->
{% block javascripts %}
{% javascripts
'assets/plugins/jquery-1.10.2.min.js'
'assets/plugins/jquery-migrate-1.2.1.min.js'
'assets/plugins/bootstrap/js/bootstrap.min.js'
'assets/plugins/hover-dropdown.min.js'
'assets/plugins/back-to-top.js'
'assets/js/app.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<!--[if lt IE 9]>
{% javascripts
'assets/plugins/jquery-1.10.2.min.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<![endif]-->
{% endblock %}

<!-- JS Implementing Plugins -->
{#
<script type="text/javascript" src="{{asset('assets/plugins/parallax-slider/js/modernizr.js') }}"></script>
<script type="text/javascript" src="{{asset('assets/plugins/parallax-slider/js/jquery.cslider.js') }}"></script>
#}
<!-- JS Page Level -->
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
    });
</script>

</body>
</html>