{% extends '::base.html.twig' %}



{% block stylesheets %}
	{{ parent() }}
    {% stylesheets
	'assets/plugins/flexslider/flexslider.css'
    'assets/plugins/bxslider/jquery.bxslider.css'
    'assets/plugins/revolution_slider/rs-plugin/css/settings.css'
    filter='cssrewrite,cssimport,?yui_css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block javascripts %}
	{{ parent() }}

    {% javascripts
    'assets/plugins/flexslider/jquery.flexslider-min.js'
    'assets/plugins/bxslider/jquery.bxslider.js'
    'assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js'
    'assets/js/pages/index.js' filter='?yui_js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

	<script type="text/javascript">
    jQuery(document).ready(function() {
        App.initBxSlider();
        Index.initRevolutionSlider();
    });
	</script>
{% endblock %}


{% block body %}
<!--=== Slider ===-->
<div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
        <ul>
            {% include "CapitainerieCoreBundle:Default:index_slide2.html.twig" %}
            {% include "CapitainerieCoreBundle:Default:index_slide1.html.twig" %}
            {% include "CapitainerieCoreBundle:Default:index_slide3.html.twig" %}
            {#
            #}

        </ul>

        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>
<!--=== End Slider ===-->

<!--=== Content Part ===-->
<div class="container">
	<div class="margin-bottom-20"></div>
	<!-- Service Blocks -->
	{#<div class="row margin-bottom-10">#}
    	{#<div class="col-md-4 service-alternative">#}
    		{#<div class="service">#}
                {#<i class="icon-resize-small service-icon"></i>#}
    			{#<div class="desc">#}
    				{#<h4>Fully Responsive</h4>#}
                    {#<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>#}
    			{#</div>#}
    		{#</div>#}
    	{#</div>#}
    	{#<div class="col-md-4 service-alternative">#}
    		{#<div class="service">#}
                {#<i class="icon-cogs service-icon"></i>#}
    			{#<div class="desc">#}
    				{#<h4>HTML5 + CSS3</h4>#}
                    {#<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>#}
    			{#</div>#}
    		{#</div>#}
    	{#</div>#}
    	{#<div class="col-md-4 service-alternative">#}
    		{#<div class="service">#}
                {#<i class="icon-plane service-icon"></i>#}
    			{#<div class="desc">#}
    				{#<h4>Launch Ready</h4>#}
                    {#<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>#}
    			{#</div>#}
    		{#</div>#}
    	{#</div>#}
	{#</div><!--/row-->#}
	<!-- End Service Blokcs -->

	<!-- Recent Works -->
    <div class="row margin-bottom-40">
        <div class="col-lg-12">
            <div class="headline"><h2>Découvez nos espaces</h2></div>
            <ul class="bxslider recent-work">
                <li>
                    <a href="{{ path('sous-marin') }}">
                        <em class="overflow-hidden"><img src="{{asset( 'bundles/capitaineriecore/images/lieu/open_space.png'| apply_filter('presentation')) }}" alt="" width="278" height="231" /></em>
                        <span>
                            <strong>Le sous marin</strong>
                            <i>L'open space de type Loft pour travailler de façon studieuse.</i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('port') }}">
                        <em class="overflow-hidden"><img src="{{asset( 'bundles/capitaineriecore/images/lieu/bureau.png'| apply_filter('presentation')) }}" alt="" width="278" height="231" /></em>
                        <span>
                            <strong>Le port</strong>
                            <i>Où l'on échange librement sur ses aventures en mer </i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('salle-reunion') }}">
                        <em class="overflow-hidden"><img src="{{asset( 'bundles/capitaineriecore/images/lieu/salle_de_reunion.png'| apply_filter('presentation')) }}" width="278" height="231" alt="" /></em>
                        <span>
                            <strong>La salle de réunion</strong>
                            <i>Pour recevoir des clients, faire un point en équipe au calme ou faire une présentation</i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('bar') }}">
                        <em class="overflow-hidden"><img src="{{asset( 'bundles/capitaineriecore/images/lieu/96089dda-3e8f.png'| apply_filter('presentation')) }}" width="278" height="231" alt="" /></em>
                        <span>
                            <strong>Le bar</strong>
                            <i>Pour recharger les batteries et échanger autour d'un café</i>
                        </span>
                    </a>
                </li>

            </ul>
        </div>
    </div><!--/row-->
	<!-- End Recent Works -->

	<!-- Info Blokcs -->
	{#<div class="row margin-bottom-10">#}
    	{#<!-- Welcome Block -->#}
		{#<div class="col-md-8">#}
			{#<div class="headline"><h2>Welcome To Unify</h2></div>#}
            {#<div class="row">#}
                {#<div class="col-sm-4">#}
                    {#<img class="img-responsive margin-bottom-20" src="/assets/img/new/img15.jpg" alt="" />#}
                {#</div>#}
                {#<div class="col-sm-8">#}
                    {#<p>Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers, tablets and phone.</p>#}
                    {#<ul class="list-unstyled margin-bottom-20">#}
                        {#<li><i class="icon-ok color-green"></i> Donec id elit non mi porta gravida</li>#}
                        {#<li><i class="icon-ok color-green"></i> Corporate and Creative</li>#}
                        {#<li><i class="icon-ok color-green"></i> Responsive Bootstrap Template</li>#}
                        {#<li><i class="icon-ok color-green"></i> Corporate and Creative</li>#}
                    {#</ul>#}
                {#</div>#}
            {#</div>#}

            {#<blockquote class="hero-unify">#}
                {#<p>Award winning digital agency. We bring a personal and effective approach to every project we work on, which is why. Unify is an incredibly beautiful responsive Bootstrap Template for corporate professionals.</p>#}
                {#<small>CEO, Jack Bour</small>#}
            {#</blockquote>#}
        {#</div><!--/col-md-8-->#}

        {#<!-- Posts -->#}
        {#<div class="col-md-4 posts">#}
            {#<div class="headline"><h3>Recent Entries</h3></div>#}
            {#<dl class="dl-horizontal">#}
                {#<dt><a href="#"><img alt="" src="/assets/img/sliders/elastislide/6.jpg"></a></dt>#}
                {#<dd>#}
                    {#<p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>#}
                {#</dd>#}
            {#</dl>#}
            {#<dl class="dl-horizontal">#}
                {#<dt><a href="#"><img alt="" src="/assets/img/sliders/elastislide/10.jpg"></a></dt>#}
                {#<dd>#}
                    {#<p><a href="#">Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit.</a></p>#}
                {#</dd>#}
            {#</dl>#}
            {#<dl class="dl-horizontal">#}
                {#<dt><a href="#"><img alt="" src="/assets/img/sliders/elastislide/11.jpg"></a></dt>#}
                {#<dd>#}
                    {#<p><a href="#">It works on all major web browsers, tablets and lorem sequat ipsum dolor.</a></p>#}
                {#</dd>#}
            {#</dl>#}
        {#</div>#}
	{#</div><!--/row-->#}
	<!-- End Info Blokcs -->


</div><!--/container-->
<!-- End Content Part -->
{% endblock %}
