<li data-transition="3dcurtain-vertical" data-slotamount="10" data-masterspeed="300"
	data-thumb="/assets/img/sliders/revolution/thumbs/thumb1.jpg">

    <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
    <img src="{{( '/assets/img/sliders/revolution/bg1.jpg'| apply_filter('small')) }}">

    <div class="caption large_text sfb bg-black-opacity"
         data-x="176"
         data-y="12"
         data-speed="300"
         data-start="800"
         data-easing="easeOutExpo">
         UN LIEU D'
         <span style="color: #ffcc00;">ÉCHANGES</span>
    </div>

    <div class="caption randomrotate"
         data-x="{{ random(960) }}"
         data-y="{{ 55 + random(300) }}"
         data-speed="600"
         data-start="{{ 1100 + 100 * 1 }}"
         data-easing="easeOutExpo">
         <img class="img-border" width="150px"  src="{{( '/bundles/capitaineriecore/images/jdubois.png'| apply_filter('small')) }}" alt="jdubois">
    </div>

    <div class="caption randomrotate"
         data-x="{{ random(960) }}"
         data-y="{{ 55 + random(300) }}"
         data-speed="600"
         data-start="{{ 1100 + 100 * 2 }}"
         data-easing="easeOutExpo">
        <img class="img-border" width="150px" src="{{( '/bundles/capitaineriecore/images/cb.jpg'| apply_filter('small')) }}" alt="cbarragan">
    </div>

    <div class="caption randomrotate"
         data-x="{{ random(960) }}"
         data-y="{{ 55 + random(300) }}"
         data-speed="600"
         data-start="{{ 1100 + 100 * 3 }}"
         data-easing="easeOutExpo">
        <img class="img-border" width="150px"  src="{{( '/bundles/capitaineriecore/images/shordeaux.png'| apply_filter('small')) }}" alt="shordeaux">
    </div>

    <div class="caption randomrotate"
         data-x="{{ random(960) }}"
         data-y="{{ 55 + random(300) }}"
         data-speed="600"
         data-start="{{ 1100 + 100 * 4 }}"
         data-easing="easeOutExpo">
        <img class="img-border" width="150px" src="{{picture|default("http://dummyimage.com/872x724/bbb/000&text=Rejoignez-nous")}}" alt="you">
    </div>


</li>